.App {
  text-align: center;
}

.username {
  position: absolute;
  top: 0;
  font-size: 25px;
  color: #ffffff;
  margin-left: 15px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

